<div class="col-xs-12 contact-<%= contact.id%>" style="float:left; position: relative; display: block">
  <div style="float:left">
    <label><%= contact.name %></label>
    <%= contact.primary_number %>
  </div>
  <div style="float: right">
    <%= link_to "Edit", edit_contact_path(contact), :remote => true%> | 
    <%= link_to "Delete", contact_path(contact), :method => :delete, :remote => true, "data-confirm"=> "Are you sure?"%>
  </div>

</div>
<div class="clearfix"></div>
