<div class="edit-form col-xs-12" style="padding-bottom: 20px;">
  <h4>Edit contact</h4>

  <%= form_for @contact, :url => contact_path(@contact), :remote => true, :html => {:id => "edit-contact-form"} do |f|%>
    <div class="col-xs-3">
      <h5>Numbers:</h5>
      <%= f.text_field :name, :class => "form-control", :placeholder => "Name"%>

      <h5>Numbers:</h5>
      <% @contact.numbers.keys.each do |k| 
        number = @contact.numbers[k]
        %>
        <%= show_number_type(k)%>
        <%= text_field_tag "contact[number][]", number, :class => "form-control", :placeholder => "Mobile/Home number", :style => "display: inline !important; width: 130px;"%>
  
      <% end %>

      <br/><br/>
      <%= submit_tag "Update", :class => "btn btn-info btn-small"%> |
      <%= link_to "Cancel", "#", :onclick => "$('.edit-form').hide();" %>
    </div>
  <% end %>
</div>

