<div class="new-form col-xs-12" style="padding-bottom: 20px;">
  <h3>Create new contact</h3>
  <%= form_for :contact, :url => contacts_path, :remote => true, :html => {:id => "new-contact-form"} do |f|%>
  <div class="col-xs-3">
  <%= f.text_field :name, :class => "form-control", :placeholder => "Name"%>
  <%= text_field_tag :number, nil, :class => "form-control", :placeholder => "Mobile/Home number"%>
  <%= submit_tag "Create", :class => "btn btn-info btn-small"%> | 
  <%= link_to "Cancel", "#", :onclick => "$('.new-form').hide();" %>
  </div>
  <% end %>
</div>

