<h2>Upload file(csv)</h2>
Please follow this <%= link_to "sample", "sample.csv" %>.

<%= form_tag upload_contacts_path,  :multipart => true do %>
  <label>Select the file: </label><%= file_field_tag "file" %>
  <%= submit_tag "Upload", :class => "btn btn-info btn-small"%>
<% end %>