<% if @contact.errors.empty? %>
  $(".form-container").empty();
  var html = '<div class="alert alert-success col-xs-3 "><small>Successfully created.</small></div>';
  $(".notice-container").empty();
  $(".notice-container").append(html).show().delay(1500).fadeOut();
  window.location="<%= root_url %>";
<% else %>
  var errors = "";
  <% @contact.errors.full_messages.each do |msg| %>
  errors += "<%= msg.to_s%>";
  <% end %>
  alert(errors);
<% end %>
