<% if @contact.errors.empty? %>
  $(".edit-form").fadeOut();
  var html = '<div class="alert alert-success col-xs-3 "><small>Successfully updated.</small></div>';
  $(".notice-container").empty();
  $(".notice-container").append(html).show().delay(1000).fadeOut();
  $('#edit-contact-form')[0].reset();
  window.location="<%= root_url %>";
<% else %>
  var errors = "";
  <% @contact.errors.full_messages.each do |msg| %>
  errors += "<%= msg.to_s%>";
  <% end %>

  alert(errors);
<% end %>
