<!DOCTYPE html>
<html>
<head>
  <title>Phonebook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div class="row">
    <a href="<%= root_path %>"><h2> Phone Book </h2></a>

    <%= link_to "Add", new_contact_path, :remote => true %> |
    <%= link_to "Download", download_contacts_path(format: "csv") %> |
    <%= link_to "Upload", upload_contacts_path, :class => "upload-link", :remote => true %>
    <br/>

    <div class="notice-container">
      <% unless flash[:notice].nil?%>
        <div class="alert alert-success col-xs-3 ">
          <small><%= flash[:notice]%></small>
        </div>
      <% end %>
    </div>

    <%#= render "contacts/new"%>
    <div class="form-container"></div>

    <div class="clearfix"></div>
        
    <%= yield %>
  </div>
</div>
<script>
$(".alert-success").delay(2000).fadeOut();
</script>
</body>
</html>
